<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/Assets/css/style.css">
    <link rel="stylesheet" href="/Assets/css/dashboard.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&display=swap" rel="stylesheet">
    <title>Dashboard</title>
</head>

<body>
    <nav class="navbar fixed-top">
        <ul class="navbarList">
            <li>
                <a href="/"><img class="navbarLogo" src="/Assets/img/LOGO_21.svg" alt=""></a>
            </li>
            <li>
                <a href="/Home/galeriaProyectos" class="navbarText ">Descubre</a>
            </li>
            <li>
                <a href="/Home/aplicar" class="navbarText">Aplica</a>
            </li>
            <li>
                <a href="/Home/SubirProyecto" class="navbarText">Aprende</a>
            </li>
            <li>
                <div><a href="/Home/login/"><button class="boton" type="button">Iniciar Sesión</button></a></div>
            </li>
        </ul>
    </nav>
    <div class="content">
        <div class="d-flex flex-row text-white">
            <div class="col-2">
                <div class="list-group">
                    <a href="#cuenta" class=" list-group-item-action active nav-link" data-bs-toggle="tab"
                        aria-selected="true" role="tab" onclick="aparecerVista('cuenta')">Proyectos subidos</a>
                    <a href="#perfil" class=" list-group-item-action" data-bs-toggle="tab" aria-selected="false"
                        role="tab"
                        onclick="desaparecerVistas(['cuenta','v-pills-subir-proyecto-1','v-pills-subir-proyecto-2'])">Proyectos
                        Donados</a>
                </div>
            </div>
            <div class="col-10  tab-content bloqueDashboard panelDashboard" id="configPerfil">
                <div class="tab-pane fade active show " role="tabpanel1" id="cuenta">
                    <div>
                        <table id="tblProyectos" class="display tablita" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Título</th>
                                    <th>Comienzo</th>
                                    <th>Final</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" role="tabpanel1" id="perfil">
                    <table class=" tablita" style="width:100%">
                        <thead>
                            <tr>
                                <!--id, nombre, boton-->
                                <th>Proyecto</th>
                                <th>Cantidad</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tbody>
                    </table>
                </div>                
            </div>
        </div>
    </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/b2831985f5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const base_url = "/"
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        const id_usuario = "<?php echo $_SESSION['id'] ?>"
    </script>
    <script src="/Assets/js/DataTable.js"></script>
    <script src="/Assets/js/funciones.js"></script>
    <script src="/Assets/js/Dashboard.js"></script>
</body>

</html>