.bannerLandingAplicar {
    
    padding-top: 1rem;
    width: 100%;
    height: 60vh;
    background: linear-gradient(113.43deg, #031C54 17.28%, #540D6E 80.61%);
    border-radius: 30px;
    z-index: -1;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 5rem;
    grid-auto-rows: minmax(200px, auto);
}

.fondoBlanco {
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(3, 28, 84, 0.5);
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    padding-top: 1vw;
}

.fuentePreguntas{
    font-family: 'Be Vietnam';
    color: #FFFFFF;
    font-size: 1vw;
    margin-left: 1vw;
    margin-top: 1vw;
}
.fuenteRespuestas{
    font-family: 'Be Vietnam';
    color: #031C54;
    font-size: 1vw;
}

.proyectosFila {
    margin-left: 20vh;
    display: flex;
    height: auto;
    margin-bottom: 5vh;
    margin-top: 2vh;
}

.seccionPreguntas {
    height: 70vh;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
}
.texto {
    padding:4px;
    background:#fff;
}

.bannerLandingAplicar2 {

    padding-top: 1rem;
    width: 100%;
    height: 60vh;
    background: linear-gradient(113.43deg, #031C54 17.28%, #540D6E 80.61%);
    border-radius: 30px;
    z-index: -1;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 5rem;
    grid-auto-rows: minmax(200px, auto);
}

.imagenBannerAplicar1 {
    margin-left: 10vw;
}

.imagenBannerAplicar2 {
    margin-top: 20vh;
}

.tituloBannerAplicar {
    margin-right: 25rem;
    margin-top: 30vh;
    margin-bottom: 4vh;
    flex-wrap: wrap;
    font-family: 'TT Norms', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 10vh;
    line-height: 100%;
    width: 70%;
    color: #F5F0F5;
}

.oneColumnBanner {
    grid-column: 1/3;
    grid-row: 1;

}

.twoColumnBanner {
    grid-column: 2/ 3;
    grid-row: 1;
    width: 25vw;
}

.twoColumnBanner img {
    margin-top: 5%;
}

.threeColumnBanner {
    grid-column: 3 / 3;
    grid-row: 1;
    margin-top: 10rem;
}

.threeColumnBanner img {
    margin-top: 5%;
}

.pasosSubirProyectos {
    margin-top: 20vh;
}

.subirProyectoTitulo {
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 5vh;
    line-height: 67px;

    color: #031C54;
}

.tituloPasos {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 6vh;
    line-height: 54px;
    text-align: center;
    margin-top: 5vh;

    color: #031C54;
}

.subtituloPasos {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */

    text-align: center;

    color: #031C54;
}

.textoBannerPaso2 {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    margin: 1vw;

    color: #F5F0F5;
}

.textoPasos {
    font-size: 2vh;
    font-size: 2vw;
    margin: 1vw;
}

.paso1 {
    display: flex;
    width: 100%;
    margin: 10vh;
}

.paso2 {
    background: linear-gradient(113.43deg, #031C54 17.28%, #540D6E 80.61%);
    border-radius: 30px;
    margin: 10vh;
}

.cabeceraCardDudas {
    padding: 2%;
    color: #FFFFFF;
    display: flex;
    background: linear-gradient(113.43deg, #031C54 17.28%, #540D6E 80.61%), #FFFFFF;
    box-shadow: 0px 5px 5px rgba(3, 28, 84, 0.5);
    border-radius: 30px 30px 0px 0px;
    height: 17vh;
}

.cabeceraCardDudas p {
    font-size: 3vh;
}


.imagenBannerPasos1 {
    width: 50vh;
    height: 50vh;
}

.textoImagenBannerProyecto {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 2vh;
}

.posicionTextoImagenBannerProyecto1 {
    margin-top: 5vh;
    margin-left: 1vw;
    font-size: 4vh;
}

.colorTextoImagenBanner2 {
    color: #DCF763;
}

.colorTextoImagenBanner1 {
    color: #031C54;
}

.backGroundImage {
    margin-left: 10vw;
    background-repeat: no-repeat;
    height: 45vh;
    width: 30vw;
    background-size: 30vw;
}

.backGroundImage2 {
    margin-left: 15vw;
    background-repeat: no-repeat;
    height: 45vh;
    width: 30vw;
    background-size: 30vw;
}

.bannerLandingAplicar {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    width: 100%;
    height: 100vh;
    background: linear-gradient(113.43deg, #031C54 17.28%, #540D6E 80.61%);
    border-radius: 30px;
    z-index: -1;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 5rem;
    grid-auto-rows: minmax(200px, auto);
}

.textoImagenBannerAplicar {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 26px;
    margin-top: 20vh;
    margin-left: 1vw;
    color: #F5F0F5;
}

.card img {
    border-radius: 30px;
}

.subirProyectoTexto {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    line-height: 26px;
    margin-top: 1vw;
    margin-bottom: 1vw;

    color: #031C54;
}

.pasosLista {
    margin: 1vw;
}

.textoPaso {
    margin-top: 1vw;

}