.dashboard {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Menu contenido";
}

.panelDashboard {
    color: #031C54;
}

.textoFormuario {
    font-family: 'TT Norms';
    color: #031C54;    
}

.Menu {
    grid-area: Menu;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(3, 28, 84, 0.5);
    border-radius: 30px;    
}

.textoMenu{
    color: #031C54;    
    font-size: 1.5vw;
    margin-bottom: 1vw;
}
.textoMenuAbajo{
    color: #031C54;  
    font-size: 1.5vw;
    margin-top: 30vw;  
}

.contenido {
    grid-area: contenido;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(3, 28, 84, 0.5);
    border-radius: 30px;
    width: 80%;
    padding: 3vh;
    margin-left: 1vw;
}

.formulario {
    width: 100%;
}

.inputGrandeForm {
    width: 100%;
    height: 5vh;
    border-radius: 30px;
    border: 1px solid #031C54;
    padding-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #031C54;
    font-size: 1.5vw;
}

.inputGrandeFormArea {
    width: 100%;
    height: auto;
    border-radius: 30px;
    border: 1px solid #031C54;
    padding-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #031C54;
}


.tituloFormSubirProyecto {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 2vw;
    line-height: 2vh;
    /* identical to box height */


    color: #031C54;
}

.subtituloFormSubirProyecto {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #540D6E;
}

.grupoInputsForm {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
}

.grupoInput1 {
    border-radius: 30px;
    border: 1px solid #031C54;
    padding-left: 2vw;
    height: 5vh;
    color: #031C54;
    width: 100%;
    font-size: 1.5vw;
}

.botonForm {
    background: #DCF763;
    border-radius: 30px;
    border: 0px;
    width: 15vw;
    height: 6vh;
    color: #031C54;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 3vh;
    margin-left: 25vw;
    margin-top: 3vh;
    padding-left: 3.5vw;
    padding-top: 1vh;
}

.botonFormFinal{
    background: #DCF763;
    border-radius: 30px;
    border: 0px;
    width: 15vw;
    height: 6vh;
    color: #031C54;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 3vh;
    margin-left: 25vw;
    margin-top: 3vh;
    padding-left: 1vw;
    padding-top: 0.5vh;
}
.botonFormBanner {
    background: #DCF763;
    border-radius: 30px;
    border: 0px;
    width: 15vw;
    height: 6vh;
    color: #031C54;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 3vh;
    margin-left: 20vw;
    margin-top: 3vh;    
    padding-top: 0.5vh;
}

.textoPaso {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 35px;
    margin-left: 39vw;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #540D6E;
}

.headerForm {
    display: flex;
    align-items: center;
}

.bloqueDashboard {
    background-color: #F5F0F5;
    padding-left: 1vw;
    padding-right: 1vw;
}

.pantallaInicialDashboard{
    padding: 1vw;
}

.tableDashboardTitulo {
    font-family: 'TT Norms';

}

.bloqueAunSinProyectosTitulo {
    color: #540D6E;
}

.bannerDashboardProyecto {
    background: linear-gradient(113.43deg, #031C54 17.28%, #540D6E 80.61%);
    border-radius: 30px;
    color: #F5F0F5;
    text-align: center;
    padding: 5vw;
    margin-bottom: 1vw;
}

.bannerDashboardProyectoTitulo {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 55px;
    text-align: center;

    color: #F5F0F5;
}

.bannerDashboardProyectoTexto {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2vw;
    text-align: center;

    color: #F5F0F5;
}

.botonBannerDashboardSubirProyecto {
    margin-left: 10vw;
}

.botonForm {
    width: 30vh;
    height: 5vh;
    font-family: 'TT Norms', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2vh;
    border-width: 0;
    background: #DCF763;
    border-radius: 30px;
    color: #031C54;
}

.grupoInputsForm2{
    display: flex;
    font-size: 1vw;
    margin: 1vw;
}

.inputFileForm{
    border-radius: 30px;
    border: 1px solid #031C54;
    padding-right: 1vw;
    font-size: 1.5vw;
}

.titulosInputsFileForm{
    color: #031C54;
    display: flex;
    margin-left: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    font-style: normal;
}
.titulosInputsFileForm2{
    margin-left: 25vw !important;
}

.tablita{
    width: 100%;

}

.bordeAbajo{
    border-bottom: 0.5vh  solid #031C54;        
}
.bordeDerecha{    
    border-right: 0.5vh  solid #031C54;
}
.bordeIzquierda{
    border-left: 0.5vh  solid #031C54;
}

.botonFormActualizar{
    background: #DCF763;
    border-radius: 30px;
    border: 0px;
    width: 15vw;
    height: 6vh;
    color: #031C54;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 2.5vh;
    margin-top: 3vh;
    padding-left: 0.5vw;
    padding-top: 0.5vh;
}

.inputActualizarDatos{
    border-radius: 30px;
    border: 1px solid #031C54;

}

.fondoDashboard{
    background-color: #F5F0F5;
}

.fondoBlanco{
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(3, 28, 84, 0.5);
    border-radius: 1vw;
    padding-top: 1vw;
}