input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.dashboard {
    display: grid;
    margin-left: 1vw;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Menu contenido";
}

.titulosTabla{
    width: 100vw;
}

.margenIzquierda {
    margin-left: 1vw;
}

.panelDashboard {
    color: #031C54;
}

.textoFormuario {
    font-family: 'TT Norms';
    font-size: 1.5vw;
    color: #031C54;
}

.Menu {
    grid-area: Menu;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(3, 28, 84, 0.5);
    border-radius: 30px;
}

.textoMenu {
    color: #031C54;
    font-size: 1.3vw;
    margin-bottom: 1vw;
    margin-left: 1vw;
}

.textoMenuAbajo {
    color: #031C54;
    font-size: 1.3vw;
    margin-left: 1vw;
}

.ultimaOpcion {
    position: absolute;
    bottom: 0;
}

.contenido {
    grid-area: contenido;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(3, 28, 84, 0.5);
    border-radius: 30px;
    width: 80vw;
    height: 85vh;
    padding: 3vh;
    margin-left: 1vw;
}

.formulario {
    width: 100%;
}

.inputGrandeForm {
    width: 100%;
    height: 5vh;
    border-radius: 30px;
    border: 1px solid #031C54;
    padding-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #031C54;
    font-size: 1.5vw;
}
.inputTextArea {
    width: 100%;
    height: 5vw !important;
    border-radius: 30px;
    border: 1px solid #031C54;
    padding-left: 2vw;
    margin-top: 1vh;
    color: #031C54;
    font-size: 1.5vw;
}

.labelInputs{
    margin-left: 2vw;
}
.labelInputs2{
    margin-left: 20vw;
}

.labelFoto{
    margin-top: -1vw;
}

.inputGrandeFormArea {
    width: 100%;
    height: 5vh;
    border-radius: 30px;
    border: 1px solid #031C54;
    padding-left: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    color: #031C54;
    font-size: 1.5vw;
}


.tituloFormSubirProyecto {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 2vw;
    line-height: 1vh;
    /* identical to box height */


    color: #031C54;
}

.subtituloFormSubirProyecto {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 1vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #540D6E;
}

.grupoInputsForm {
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    width: 100%;
}

.grupoInput1 {
    border-radius: 30px;
    border: 1px solid #031C54;
    padding-left: 2vw;
    height: 5vh;
    color: #031C54;
    width: 100%;
    font-size: 1.5vw;
}



.botonFormFinal {
    background: #DCF763;
    border-radius: 30px;
    border: 0px;
    width: 15vw;
    height: 6vh;
    color: #031C54;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 3vh;
    margin-left: 25vw;
    margin-top: 3vh;
    padding-left: 1vw;
    padding-top: 0.5vh;
}

.botonFormBanner {
    background: #DCF763;
    border-radius: 30px;
    border: 0px;
    width: 15vw;
    height: 6vh;
    color: #031C54;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 3vh;
    margin-left: 20vw;
    margin-top: 3vh;
    padding-top: 0.5vh;
}

.textoPaso {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    font-size: 1vw;
    line-height: 35px;
    margin-left: 39vw;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #540D6E;
}

.dt-button {
    font-family: 'Be Vietnam';
    width: 6.5vw;
    height: 2vw;
    color: #031C54 !important;
    font-size: 0.1vh !important;
    padding-top: 0.7vw !important;
    background: #DCF763 !important;
    border-radius: 1vw !important;
    border-color: #FFFFFF !important;
}

.headerForm {
    display: flex;
    align-items: center;
}
.columnaProyecto{
    width: 50vw !important;
}
.columnaEstado{
    width: 18%;
}

.headerTabla{
    width: 100%;
}

.scrollTablita{
    overflow-y: scroll;
    overflow-x: scroll;
}

.bloqueDashboard {
    background-color: #F5F0F5;
}

.pantallaInicialDashboard {
    padding: 1vw;
}

.tableDashboardTitulo {
    font-family: 'TT Norms';

}

.bloqueAunSinProyectosTitulo {
    color: #540D6E;
}

.bannerDashboardProyecto {
    background: linear-gradient(113.43deg, #031C54 17.28%, #540D6E 80.61%);
    border-radius: 30px;
    color: #F5F0F5;
    text-align: center;
    padding: 5vw;
    margin-bottom: 1vw;
}

.bannerDashboardProyectoTitulo {
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 55px;
    text-align: center;

    color: #F5F0F5;
}

.bannerDashboardProyectoTexto {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 2vw;
    text-align: center;

    color: #F5F0F5;
}

.botonBannerDashboardSubirProyecto {
    margin-left: 6vw;
}

.botonForm {
    width: 30vh;
    height: 5vh;
    font-family: 'TT Norms', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2vh;
    border-width: 0;
    background: #DCF763;
    border-radius: 30px;
    color: #031C54;
    margin-left: 32vw;
    margin-top: 0.5vw;
    padding-left: 3.5vw;
    padding-top: 0.5vw;
}

.grupoInputsForm2 {
    display: flex;
    font-size: 1vw;
    margin: 1vw;
}

.inputFileForm {
    border-radius: 30px;
    border: 1px solid #031C54;
    padding-right: 1vw;
    font-size: 1.5vw;
}

.titulosInputsFileForm {
    color: #031C54;
    display: flex;
    margin-left: 1vw;
    font-size: 1.5vw;
    font-weight: bold;
    font-style: normal;
}

.titulosInputsFileForm2 {
    margin-left: 25vw !important;
}

.tablita {
    width: 100%;
    padding-top: 1vw;
}

.bordeAbajo {
    border-bottom: 0.3vh solid #031C54;
}
.iconoMenu{
    margin-right: 0.5vw;
    width: 1vw;
}
.bordeDerecha {
    border-right: 0.3vh solid #031C54;
}

.bordeIzquierda {
    border-left: 0.3vh solid #031C54;
}

@media  (min-width: 1810px){
    .botonFormActualizar {
        background: #DCF763;
        border-radius: 30px;
        border: 0px;
        width: 15vw;
        height: 6vh;
        color: #031C54;
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 900;
        font-size: 2.5vh;
        padding-left: 0.5vw;
        padding-top: 0.5vh;
        margin-top: 1vw;
    }
}
@media  (max-width: 1809px){
    .botonFormActualizar {
        background: #DCF763;
        border-radius: 30px;
        border: 0px;
        width: 15vw;
        height: 5vh;
        color: #031C54;
        font-family: 'TT Norms';
        font-style: normal;
        font-weight: 900;
        font-size: 2.5vh;
        padding-left: 0.5vw;
        padding-top: 0.5vh;
    }

}


.inputActualizarDatos {
    border-radius: 30px;
    border: 1px solid #031C54;
    height: 3vw;
    font-size: 1.5vw;
}

.selectCiudad{
    font-size: 1.5vw;
    height: 3vw;
}

.fondoDashboard {
    background-color: #F5F0F5;
}

.fondoBlanco {
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(3, 28, 84, 0.5);
    border-radius: 1vw;
    padding-top: 1vw;
}

.sizeMenu{
    width: 100vw;
}

.iconoMenu{
    margin-right: 0.5vw;
    width: 1vw;
}

.textoTabla{
    white-space: nowrap;
}

.tablita th td{
    width: 10px !important;
}

