.botonBuscar{
    border: 0;
    width: 20vh;
    height: 5vh;
    font-size: 2vh;
}

.botonesGaleria{
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    padding-left: 10vw;
}

.bloqueBotonBuscar{
    padding-left: 1vh;
    width: 40vh;
    height: 10%;
    border-radius: 30vh;
    margin-right: 100vh;
    background-color: white;
}

.proyectosFila{
    display: flex;
    width: 90vw;
    margin: auto;
    margin-left: 10vw;
    margin-bottom: 2vh;
}

.card{
    width: auto;
    height: auto;
}



.imagenCard{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: auto;
}

.botonCardGaleria{
    margin: auto;
    margin-top: 1vh;
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2vh;
    line-height: 29px;
    width: 30vh;
    height: 5vh;
    border-width: 0px;
    background: #DCF763;
    border-radius: 30vh;
    display: flex;
    align-items: center;
    color: #031C54;
    padding-left: 8vh;
}

.tituloCardGaleria{
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4vh;
    line-height: 38px;
    margin: 1vh;
    color: #031C54;
}

.textoCardGaleria{
    color: #031C54;
    font-size: 2vh;
    margin: 1vh;
}

.metaCardGaleria{
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 700;
    font-size: 3vh;
    line-height: 3vh;
    margin: 1vh;
    color: #031C54;
}

.meta{
    display: flex;
}

.barraProgresoCardGaleria{
    width: 10vh;
    height: 1vh;
    background: #CC59D2;
    border-radius: 20px;
}

.organizar{
    border-radius: 30vh;
    width: 20vh;
    height: 3vh;
    font-size: 2vh;
}

.bannerLanding-2 {
    padding: 1rem;
    width: 100%;
    height: 30vh;
    background: linear-gradient(113.43deg, #031C54 17.28%, #540D6E 80.61%);
    border-radius: 5vh;
    z-index: -1;
}

.subirProyectoTitulo {
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 5vh;
    line-height: 9vh;

    color: #031C54;
}



.subirProyectoTexto {
    font-family: 'Be Vietnam';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 26px;
    /* identical to box height */


    color: #031C54;
}

.textoInstruccionesSubir{
    font-size: 50vh;
    margin: 1vh;
    
}

.pasosSubirProyecto{
    width: 2vh;
    margin-right: 1vw;
}

.botonSubirProyecto{
    width: 40vh;
    height: 8vh;
    color: #031C54;
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 4vh;
    line-height: 2vh;
    border-width: 0;
    background: #DCF763;
    border-radius: 30vh;
    margin-left: 10vw;
}


.subirProyectoTitulo{
    color: #031C54;
    font-size: 10vh;
}

.botonGaleriaProyecto{
    font-family: 'Signika Negative', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 29px;
    width: 30vh;
    height: 50px;
    border-width: 0px;
    background: #DCF763;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #031C54;
}

.card{
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(3, 28, 84, 0.5);
    border-radius: 30px;
}

.imagenOjo{
    margin-left: 1vw;
}

.textoCard{
    font-family: 'Be Vietnam';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;

color: #031C54;
}

.cardGaleria{
    width: 40vw;
}