.navbar{
    background-color: #D0DAFA;
}

.main{
    padding-top: 3.5rem;
    padding-bottom: 5rem;
    background-color: F3F3F3;
}

.formulario{
    background-color: azure;
    border-radius: 1em;
}

.campo{
    margin-top: 1rem;
}

.formulario__validacion-estado-incorrecto {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 1;
}

.finalButton{
    background-color: #D0DAFA;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formulario__validacion-estado-correcto {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: -100;
	font-size: 16px;
	opacity: 0;
}

.formulario-correcto{
	border-color: green;
    border-radius: 10px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}

.formulario-incorrecto {
	border-color: red;
    border-radius: 10px;
    border-top-width: 3px;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 3px;
}